<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated for serviceman. Edit as you wish, but leave this line. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>run-on-macos-screen-events.COMMAND_LABEL_GOES_HERE</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/USERNAME_GOES_HERE/bin/run-on-macos-screen-events</string>
		<string>--[un]lock</string>
		<string>COMMAND_GOES_HERE</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>PATH_ENVIRONMENT_GOES_HERE</string>
	</dict>

	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<!--dict>
		<key>Crashed</key>
		<true/>
		<key>NetworkState</key>
		<true/>
		<key>SuccessfulExit</key>
		<false/>
	</dict-->

	<key>WorkingDirectory</key>
	<string>/tmp</string>

	<key>StandardErrorPath</key>
	<string>/Users/USERNAME_GOES_HERE/.local/share/run-on-macos-screen-events/var/log/COMMAND_LABEL_GOES_HERE.log</string>
	<key>StandardOutPath</key>
	<string>/Users/USERNAME_GOES_HERE/.local/share/run-on-macos-screen-events/var/log/COMMAND_LABEL_GOES_HERE.log</string>
</dict>
</plist>
